#table {
    /* font-display: center; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-content: center;
    /* margin-top: 50px; */
    width: 500px;
    height: 400px;
    background-color: green;
    border: 2px solid brown;
    border-radius: 15px;
    left: 50px;
    /* text-align: center; */
}
#messages{
    width: 200px;
    height: 60px;
}
#dealer-hand, #player-hand {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-content: flex-start; */
    width: 100%;
    background-color: chartreuse;
    /* position: absolute; */
    /* position: relative; */
    /* left: 50px; */
    height: 100px;
    /* padding: 20px; */
    /* margin: 5px, 5px, 5px, 5px; */
    /* text-align: center; */
    
}

.buttons{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;

}

img{
    /* width:50px; */
    height:100%;
}
 /* #deal-button, #hit-button, #stand-button{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-content: center; */
    /* text-align: center; */
/* } */

